# Node.js
/react-app/node_modules

# .NET Core
/dotnet-core-api/bin/
/dotnet-core-api/obj/

# Flutter
/flutter-app/build/
/flutter-app/.dart_tool/
/flutter-app/.packages

# General
.DS_Store
/dotnet-core-api/SplitExpense/bin/Debug/net6.0
/dotnet-core-api/SplitExpense/.vs/SplitExpense/DesignTimeBuild
/dotnet-core-api/SplitExpense/.vs/SplitExpense/FileContentIndex
/dotnet-core-api/SplitExpense/.vs/SplitExpense/v17
/dotnet-core-api/SplitExpense/.vs
/dotnet-core-api/SplitExpense/obj
/dotnet-core-api/SplitExpense.Data/obj
/dotnet-core-api/SplitExpense.Logger/obj
/dotnet-core-api/SplitExpense.Models/obj
/dotnet-core-api/SplitExpense/bin/Debug/net8.0
/dotnet-core-api/SplitExpense.Data/bin/Debug/net8.0
/dotnet-core-api/SplitExpense.Logger/bin/Debug/net8.0
/dotnet-core-api/SplitExpense.Models/bin/Debug/net8.0
/dotnet-core-api/SplitExpense.Middlewares/obj
/dotnet-core-api/SplitExpense.Logic/obj
/dotnet-core-api/SplitExpense.Logic/bin/Debug/net8.0
/dotnet-core-api/SplitExpense.Middlewares/bin/Debug/net8.0
/dotnet-core-api/SplitExpense.Validator/bin/Debug/net8.0
/dotnet-core-api/SplitExpense.Validator/obj
/dotnet-core-api/SplitExpense.SharedResource/bin/Debug/net8.0
/dotnet-core-api/SplitExpense.SharedResource/obj
/dotnet-core-api/SplitExpense.EmailManagement/obj
/dotnet-core-api/SplitExpense.UnitTest/obj
/dotnet-core-api/SplitExpense.EmailManagement/bin/Debug/net8.0
/dotnet-core-api/SplitExpense.ExceptionManagement/bin/Debug/net8.0
/dotnet-core-api/SplitExpense.ExceptionManagement/obj
/dotnet-core-api/SplitExpense.Middleware/bin/Debug/net8.0
/dotnet-core-api/SplitExpense.Middleware/obj
/dotnet-core-api/SplitExpense.UnitTest/bin/Debug/net8.0
/dotnet-core-api/SplitExpense.FileManagement/obj
/dotnet-core-api/SplitExpense.FileManagement/bin/Debug/net8.0
/dotnet-core-api/SplitExpense/uploads
node_modules
